### 4)TOP 3 STATES and WORST 3 STATES FOR -- 3-to-2 LANGUAGE RATIO  and 2-to-1 LANGUAGE RATIO

In [1]:
import numpy as np
import pandas as pd
import datetime as dt
import warnings
warnings.filterwarnings('ignore')

In [2]:
#ASSIGNING COL NAMES
column_names = ['State', 'District', 'Name', 'TRU','Age-group','Persons.2','Males.2','Females.2','Persons.3','Males.3','Females.3']
#READING DATA
df = pd.read_excel('DDW-C18-0000.xlsx',names=column_names,skiprows=5)

In [3]:
#TAKING ONLY REQUIRED COLUMNS "TWO or MORE LANGUAGES" and "THREE OR MORE LANGUAGES"
df = df[['State','Name','TRU','Age-group','Persons.2','Persons.3']]

# REMOVING URBAN AND RURAL ROWS AND AGE-GROUP CATEGORIES OTHER THAN TOTAL
idx = df.loc[(df['TRU']!='Total') | (df['Age-group'] !='Total')].index
df = df.drop(idx)

In [4]:
df.reset_index(inplace=True,drop=True)

In [5]:
df.head()

   State              Name    TRU Age-group  Persons.2  Persons.3
0      0             INDIA  Total     Total  314988770   86009580
1      1   JAMMU & KASHMIR  Total     Total    6183190    2096220
2      2  HIMACHAL PRADESH  Total     Total    1242705     347286
3      3            PUNJAB  Total     Total   13035224    7829913
4      4        CHANDIGARH  Total     Total     579920     321979

In [6]:
# CALCULATING EXACTLY TWO-LANG
df['only2lang'] = df['Persons.2'] - df['Persons.3']

In [7]:
#CALCULATING RATIO 3 to 2 lang
df['r3to2'] = df['Persons.3'] / df['only2lang']

In [8]:
df = df.sort_values(['r3to2'])   #SORTING DATAFRAME IN ASCENDING ORDER OF RATIOS

In [9]:
df.head()

,State,Name,TRU,Age-group,Persons.2,Persons.3,only2lang,r3to2
10,10,BIHAR,Total,Total,16761785,1682572,15079213,0.111582
5,5,UTTARAKHAND,Total,Total,1757756,187822,1569934,0.119637
9,9,UTTAR PRADESH,Total,Total,22873609,2585664,20287945,0.127448
33,33,TAMIL NADU,Total,Total,20416270,2447163,17969107,0.136187
22,22,CHHATTISGARH,Total,Total,3384223,422569,2961654,0.142680

In [10]:
#AN EMPTY DATAFRAME
newdf = pd.DataFrame()

In [11]:
high = df.iloc[[-1,-2,-3],[0,-1]]            # SELECTING TOP 3 RATIOS as data is sorted and selecting columns statecode and ratio
low = df.iloc[[0,1,2],[0,-1]]                # SELECTING LEAST 3 RATIOS and selecting columns statecode and ratio

In [12]:
#high
#low

In [13]:
#APPENDING INTO A SINGLE DATAFRAME
newdf = newdf.append([high,low])

newdf.reset_index(inplace=True,drop=True)

In [14]:
newdf

   State     r3to2
0     30  1.925807
1      3  1.504216
2      4  1.248266
3     10  0.111582
4      5  0.119637
5      9  0.127448

In [15]:
#WRITING TO CSV
newdf.to_csv('3-to-2-ratio.csv',index = False)