In [1]:
import numpy as np
import pandas as pd
import datetime as dt
import warnings
warnings.filterwarnings('ignore')

In [2]:
pd.set_option('display.max_columns',30)
pd.set_option('display.max_rows',10000)
pd.set_option('display.width',400)

In [3]:
#ASSIGNING COL NAMES
column_names = ['State', 'District', 'Name', 'TRU','Age-group','Persons.2','Males.2','Females.2','Persons.3','Males.3','Females.3']
#READING DATA
df = pd.read_excel('DDW-C18-0000.xlsx',names=column_names,skiprows=5)

In [4]:
df.columns

Index(['State', 'District', 'Name', 'TRU', 'Age-group', 'Persons.2', 'Males.2', 'Females.2', 'Persons.3', 'Males.3', 'Females.3'], dtype='object')

In [5]:
#TAKING ONLY REQUIRED COLUMNS
df = df[['State','Name','TRU','Age-group','Persons.3','Males.3', 'Females.3']]
# REMOVING URBAN AND RURAL ROWS
idx = df.loc[(df['TRU']=='Total') | (df['Age-group'] !='Total')].index
df = df.drop(idx)

In [9]:
df.head()

   State              Name    TRU Age-group  Persons.3   Males.3  Females.3
0      0             INDIA  Rural     Total   35383989  21771062   13612927
1      0             INDIA  Urban     Total   50625591  28765770   21859821
2      1   JAMMU & KASHMIR  Rural     Total    1258724    778704     480020
3      1   JAMMU & KASHMIR  Urban     Total     837496    480052     357444
4      2  HIMACHAL PRADESH  Rural     Total     280817    163039     117778

In [8]:
df.reset_index(inplace=True,drop=True)

In [ ]:
# urban-percentage, rural-percentage
df['urban-percentage'] = df[]
df['rural-percentage']