In [41]:
import numpy as np
import pandas as pd
import datetime as dt
import warnings
warnings.filterwarnings('ignore')

In [42]:
#file codes BASED ON REGION
north_c = ['0100','0200','0300','0400','0500','0600','0700']
west_c =  ['0800','2400','2500','2600','2700','3000']
central_c = ['0900','2200','2300']
east_c = ['1000','1900','2000','2100']
south_c = ['2800','2900','3100','3200','3300','3400']
north_east_c = ['1100','1200','1300','1400','1500','1600','1700','1800','3500']

In [43]:
print('TOTAL NO.OF STATES: ',len(north_c)+len(west_c)+len(central_c)+len(east_c)+len(south_c)+len(north_east_c))

TOTAL NO.OF STATES:  35

In [44]:
#STORING ALL FILECODES INTO A SINGLE LIST
region_codes = [north_c,west_c,central_c,east_c,south_c,north_east_c]

In [45]:
region_codes

[['0100', '0200', '0300', '0400', '0500', '0600', '0700'],
 ['0800', '2400', '2500', '2600', '2700', '3000'],
 ['0900', '2200', '2300'],
 ['1000', '1900', '2000', '2100'],
 ['2800', '2900', '3100', '3200', '3300', '3400'],
 ['1100', '1200', '1300', '1400', '1500', '1600', '1700', '1800', '3500']]

## READING ALL STATE/UT FILES

In [46]:
#NAMES OF COLUMNS
col_names = ['Code', 'region', 'Code.1', 'Name', 'Persons', 'Males', 'Females', 'Code.2', '1 st subsidiary languages', 'Persons.2', 'Males.2', 'Females.2', 'Code.3', '2nd subsidiary languages', 'Persons.3', 'Males.3', 'Females.3']

In [47]:
#STORING ALL STATE/UT DATAFRAMES INTO A LIST OF DATAFRAMES
all_df = []

In [48]:
# region_codes=[['0100']]

In [49]:
for i in region_codes:
    for c in i:
        f_name = 'c17\DDW-C17-'+c+'.XLSX'                 #NAME OF THE FILE
        file = pd.read_excel(f_name,skiprows=5,names=col_names)    # READING FILE ONE BY ONE
        
        l2 = file[['Code.2','Persons.2']]
        l3 = file[['Code.3','Persons.3']]
        
        file = file[['Code', 'region', 'Code.1', 'Name', 'Persons']]  #TAKING ONLY REQUIRED COLUMN(TOTAL SPEAKERS OF LANGUAGE)
        
        file.dropna(inplace=True)              #DROPPING NA values
        l2.dropna(inplace=True)
        l3.dropna(inplace=True)
        
        l2 = l2.groupby(['Code.2']).agg({'Persons.2':sum})
        l3 = l3.groupby(['Code.3']).agg({'Persons.3':sum})
        
        l2.reset_index(inplace=True)
        l3.reset_index(inplace=True)
        
        file = pd.merge(file,l2,how='left',left_on='Code.1',right_on='Code.2')
        file = pd.merge(file,l3,how='left',left_on='Code.1',right_on='Code.3')
        
        file['Persons'] = file['Persons'] + file['Persons.2'] + file['Persons.3']
        
        
        file = file.sort_values('Persons',ascending=False)    # SORTING BASED ON NUMBER OF SPEAKERS
        all_df.append(file)                #APPENDING DF TO A LIST

CLASSIFYING STATES/UT DATAFRAMES INTO RESPECTIVE REGIONS

In [50]:
north = pd.concat(all_df[:7])
west = pd.concat(all_df[7:13])
central = pd.concat(all_df[13:16])
east = pd.concat(all_df[16:20])
south = pd.concat(all_df[20:26])
north_east = pd.concat(all_df[26:35])

In [51]:
#PERFORMED GROUPBY LANGUAGE AND SUMMED NUMBER OF SPEAKERS,
# THEN SORTED THE DATA TO GET TOP 3 LANGUAGES FOR EACH REGION

In [52]:
north = north.groupby(['Name']).agg({'Persons':sum})
north = north.sort_values('Persons',ascending=False)
north.reset_index(inplace=True)

#GETTTING TOP 3 HIGHEST SPOKEN LANGUAGE IN THAT REGION
north = north[0:3]
north['region'] = 'North'

In [53]:
west = west.groupby('Name').agg({'Persons':sum})
west = west.sort_values('Persons',ascending=False)
west.reset_index(inplace=True)

#GETTTING TOP 3 HIGHEST SPOKEN LANGUAGE IN THAT REGION
west = west[0:3]
west['region'] = 'West'

In [54]:
central = central.groupby('Name').agg({'Persons':sum})
central = central.sort_values('Persons',ascending=False)
central.reset_index(inplace=True)

#GETTTING TOP 3 HIGHEST SPOKEN LANGUAGE IN THAT REGION
central = central[0:3]
central['region'] = 'Central'

In [55]:
east = east.groupby('Name').agg({'Persons':sum})
east = east.sort_values('Persons',ascending=False)
east.reset_index(inplace=True)

#GETTTING TOP 3 HIGHEST SPOKEN LANGUAGE IN THAT REGION
east = east[0:3]
east['region'] = 'East'

In [56]:
south = south.groupby('Name').agg({'Persons':sum})
south = south.sort_values('Persons',ascending=False)
south.reset_index(inplace=True)

#GETTTING TOP 3 HIGHEST SPOKEN LANGUAGE IN THAT REGION
south = south[0:3]
south['region'] = 'South'

In [57]:
north_east = north_east.groupby('Name').agg({'Persons':sum})
north_east = north_east.sort_values('Persons',ascending=False)
north_east.reset_index(inplace=True)

#GETTTING TOP 3 HIGHEST SPOKEN LANGUAGE IN THAT REGION
north_east = north_east[0:3]
north_east['region'] = 'North-East'

In [58]:
north_east

       Name     Persons      region
0  ASSAMESE  23497578.0  North-East
1  BENGALI   15914819.0  North-East
2    HINDI   11038404.0  North-East

In [59]:
#CONCATINATING ALL REGIONS INTO A SINGLE DATAFRAME
finaldf = pd.concat([north,west,central,east,south,north_east])

In [60]:
#TAKING ONLY REQUIRED COLUMNS
finaldf = finaldf[['region','Name']]

In [61]:
finaldf.head()

  region      Name
0  North    HINDI
1  North  PUNJABI
2  North  ENGLISH
0   West    HINDI
1   West  MARATHI

CREATING THE RESULTANT DATAFRAME

In [62]:
reg = finaldf.region.unique()   #STORING REGIONS
t = finaldf.Name.values         # STORING LANGUAGES AS A LIST

In [63]:
#RESULTANT DATAFRAME
resultdf = pd.DataFrame(columns=['region','language-1','language-2', 'language-3'])

In [64]:
for i in range(6):
    resultdf.loc[i] = [reg[i],t[i*3+0],t[i*3+1],t[i*3+2]]     #APPENDING EACH REGION WITH 3 LANGUAGES TO "resultdf"

In [65]:
resultdf

       region language-1 language-2 language-3
0       North     HINDI    PUNJABI    ENGLISH
1        West     HINDI    MARATHI    GUJARATI
2     Central     HINDI    ENGLISH        URDU
3        East     HINDI    BENGALI       ODIA
4       South    TELUGU      TAMIL     KANNADA
5  North-East   ASSAMESE   BENGALI      HINDI

In [ ]:
#WRITING TO CSV

# resultdf.to_csv('region-india-b.csv',index=False)