## 8)Age group of males and females that has the highest ratio of population that can speak 3 or more languages

In [1]:
import numpy as np
import pandas as pd
import datetime as dt
import warnings
warnings.filterwarnings('ignore')

In [2]:
#ASSIGNING COL NAMES
column_names = ['State', 'District', 'Name', 'TRU','Age-group','Persons.2','Males.2','Females.2','Persons.3','Males.3','Females.3']
#READING DATA
df = pd.read_excel('DDW-C18-0000.xlsx',names=column_names,skiprows=5)

In [3]:
df.columns

Index(['State', 'District', 'Name', 'TRU', 'Age-group', 'Persons.2', 'Males.2',
       'Females.2', 'Persons.3', 'Males.3', 'Females.3'],
      dtype='object')

In [4]:
#TAKING ONLY REQUIRED COLUMNS
# df = df[['State','Name','TRU','Age-group','Persons.3']]
# REMOVING URBAN AND RURAL ROWS
idx = df.loc[(df['TRU']!='Total') | (df['Age-group'] == 'Total')].index
df = df.drop(idx)

In [5]:
df['Age-group'] = df['Age-group'].str.replace('5-9','05-09')          #BECAUSE IT IS USEFUL WHILE SORTING DATA

In [6]:
#EXACTLY TWO LANGUAGES
df['m_2_lang'] = df['Males.2'] - df['Males.3']
df['f_2_lang'] = df['Females.2'] - df['Females.3']

In [7]:
df.columns

Index(['State', 'District', 'Name', 'TRU', 'Age-group', 'Persons.2', 'Males.2',
       'Females.2', 'Persons.3', 'Males.3', 'Females.3', 'm_2_lang',
       'f_2_lang'],
      dtype='object')

PREPROCESSING C14 file (POPULATION BY AGE)

In [8]:
#ASSIGNING COL NAMES
column_names = ['table_name', 'State','District', 'Name','Age-group', 'Tot_Persons', 'Tot_Males', 'Tot_Females','Persons.1', 'Males.1', 'Females.1', 'Persons.2', 'Males.2', 'Females.2']
#READING DATA
age_pop = pd.read_excel('DDW-0000C-14.xls',names=column_names,skiprows=6)

In [9]:
age_pop['Age-group'].unique()

array(['All ages', '0-4', '5-9', '10-14', '15-19', '20-24', '25-29',
       '30-34', '35-39', '40-44', '45-49', '50-54', '55-59', '60-64',
       '65-69', '70-74', '75-79', '80+', 'Age not stated'], dtype=object)

In [10]:
# REMOVING AGE_GROUP "0-4"  and 'ALL AGES' as not needed for analysis
ix = age_pop.loc[(age_pop['Age-group'] == 'All ages') | (age_pop['Age-group'] == '0-4')].index
age_pop = age_pop.drop(ix)

In [11]:
#MAKING SOME SPELLING CHANGES
age_pop['Name'] = age_pop['Name'].str.replace('State - ','')
age_pop['Name'] = age_pop['Name'].str.replace('India','INDIA')

In [12]:
#REMOVING UNNECESSARY CHARACTERS
age_pop['Name'] = age_pop['Name'].str.replace('\(([0-9]*)\)','',regex=True)
age_pop['Name'] = age_pop['Name'].str.rstrip()    #REMOVING TRAILING_SPACE

In [13]:
age_pop['Age-group'] = age_pop['Age-group'].str.replace('5-9','05-09')               #BECAUSE IT IS USEFUL WHILE SORTING DATA

In [14]:
#TAKING ONLY REQUIRED COLUMNS
age_pop = age_pop[['Name', 'Age-group', 'Tot_Persons','Tot_Males', 'Tot_Females']]

In [15]:
age_pop.reset_index(drop=True,inplace=True)

In [16]:
# age_pop.head(20)
# age_pop.sort_values(['Name','Age-group'])

In [17]:
#CHECKING STATE NAMES MATCHING
# pop_names = age_pop['Name'].unique()
# pop_names

# c18_names = df['Name'].unique()
# c18_names

# [i for i in pop_names if i not in c18_names]

### CONVERITING ROWS INTO CLOUMNS OF AGE GROUPS to ease calculations

In [18]:
t = age_pop.pivot_table(index=['Name'],columns='Age-group')

In [19]:
t =t.droplevel(0,axis=1)   #DROOPING MULTIINDEX FOR COLUMNS
# t.droplevel(0,axis=0)

In [20]:
t.reset_index(inplace=True)

In [21]:
t.head()

Age-group,Name,05-09,10-14,15-19,20-24,25-29,30-34,35-39,40-44,45-49,...,40-44,45-49,50-54,55-59,60-64,65-69,70-74,75-79,80+,Age not stated
0,ANDAMAN & NICOBAR ISLANDS,14942,16349,15760,17587,19492,16364,15672,11922,10591,...,26735,23861,17296,13794,10376,6226,4098,2251,2473,368
1,ANDHRA PRADESH,3544034,3992711,3897440,4076397,3989149,3283964,3308827,2605075,2282636,...,5399473,4657269,3657386,2909598,3199837,2167854,1519358,636989,754203,771431
2,ARUNACHAL PRADESH,84424,88920,77295,65663,60348,48709,46180,35742,28506,...,78603,63679,46110,29886,25445,14973,10647,5135,7439,1509
3,ASSAM,1737993,1702346,1473092,1493825,1422105,1155813,1106794,865743,749168,...,1831206,1595249,1192363,856825,775698,503642,385277,184352,229575,18824
4,BIHAR,7239918,6596051,4182114,3854150,3843018,3545141,3149100,2408883,2060380,...,5165692,4270374,3312740,2796678,3008008,2089779,1379531,550479,679348,403502

In [22]:
t.iloc[[0],[23,24,25,26]]

Age-group  30-34  35-39  40-44  45-49
0          19359  17170  14813  13270

In [23]:
# t.iloc[[0],[10,11,12,13]]
t.iloc[[0],[40,41,42,43]]

Age-group  30-34  35-39  40-44  45-49
0          35723  32842  26735  23861

In [24]:
#COMBINING AGE GROUPS AS REQUIRED FOR C-19 AGE GROUP FILE
def add_groups():
    ls1=['f','m','t']
    for i in range(3):  #as there are 3 categories(feeemale,male,total population)
#         t['30-49'+str(ls1[i])] = t.iloc[:,6+i*17] + t.iloc[:,7+i*17] +t.iloc[:,8+i*17] +t.iloc[:,9+i*17]
        t['30-49'+str(ls1[i])] = t.iloc[:,6+i*17] + t.iloc[:,7+i*17] +t.iloc[:,8+i*17] +t.iloc[:,9+i*17]
        t['50-69'+str(ls1[i])] = t.iloc[:,10+i*17] + t.iloc[:,11+i*17] +t.iloc[:,12+i*17] +t.iloc[:,13+i*17]
        t['70+'+str(ls1[i])] = t.iloc[:,14+i*17] + t.iloc[:,15+i*17] +t.iloc[:,16+i*17]

In [25]:
#CALLING ABOVE FUNCTION
add_groups()

In [26]:
#TAKING ONLY REQUIRED FORMAT AGEGROUPS
df_age_fem = t.iloc[:,[0,1,2,3,4,5,52,53,54,17]]
df_age_mal = t.iloc[:,[0,18,19,20,21,22,55,56,57,34]]
df_age_tot = t.iloc[:,[0,35,36,37,38,39,58,59,60,51]]

In [27]:
df_age_fem=pd.melt(df_age_fem,id_vars=['Name'])

df_age_fem = df_age_fem.groupby(['Name','Age-group']).first()

df_age_fem.reset_index(inplace=True)

df_age_fem['Age-group'] = df_age_fem['Age-group'].replace({'30-49f':'30-49','50-69f':'50-69','70+f':'70+'})

In [28]:
df_age_mal=pd.melt(df_age_mal,id_vars=['Name'])

df_age_mal = df_age_mal.groupby(['Name','Age-group']).first()

df_age_mal.reset_index(inplace=True)

df_age_mal['Age-group'] = df_age_mal['Age-group'].replace({'30-49m':'30-49','50-69m':'50-69','70+m':'70+'})

In [29]:
df_age_tot=pd.melt(df_age_tot,id_vars=['Name'])

df_age_tot = df_age_tot.groupby(['Name','Age-group']).first()

df_age_tot.reset_index(inplace=True)

df_age_tot['Age-group'] = df_age_tot['Age-group'].replace({'30-49t':'30-49','50-69t':'50-69','70+t':'70+'})

In [30]:
#STORING ALL INTO A SINGLE DATAFRAME
df_age = pd.DataFrame()
df_age[['Name','Age-group','tot_pop']] = df_age_tot
df_age['mal_pop'] = df_age_mal['value']
df_age['fem_pop'] = df_age_fem['value']

In [31]:
df_age.head()

                        Name Age-group  tot_pop  mal_pop  fem_pop
0  ANDAMAN & NICOBAR ISLANDS     05-09    30454    15512    14942
1  ANDAMAN & NICOBAR ISLANDS     10-14    33467    17118    16349
2  ANDAMAN & NICOBAR ISLANDS     15-19    33026    17266    15760
3  ANDAMAN & NICOBAR ISLANDS     20-24    37115    19528    17587
4  ANDAMAN & NICOBAR ISLANDS     25-29    41722    22230    19492

population by age processing completed

In [32]:
df = df.sort_values(['Name','Age-group'])
df.reset_index(inplace=True,drop=True)

In [33]:
#ADDING POPULATION COLUMNS TO THE MAIN DATA FRAME
df['tot_pop'] = df_age['tot_pop']
df['mal_pop'] = df_age['mal_pop']
df['fem_pop'] = df_age['fem_pop']

In [34]:
#TWO LANG RATIO
df['tw_r_m'] = df['m_2_lang'] / df['mal_pop']
df['tw_r_f'] = df['f_2_lang'] / df['fem_pop']
#THREE LANG RATIO
df['th_r_m'] = df['Males.3'] / df['mal_pop']
df['th_r_f'] = df['Females.3'] / df['fem_pop']
#ONE LANG RATIO
df['one_r_m'] = 1-(df['tw_r_m'] + df['th_r_m'])
df['one_r_f'] = 1-(df['tw_r_f'] + df['th_r_f'])

In [35]:
#TO CALCULATE "Age group with highest ratio of population"
def the_func(df_new):
    indexes = []
    for i in range(36):
        t = i*9
        indexes.append(df_new.iloc[t:t+9,-1].idxmax())             #finding index of maxratio
        
    df_new = df_new.iloc[indexes]              #taking only indexes of maxratio
    return df_new

In [36]:
#creating SEPERATE DATAFRAMES FOR EACH CATEGORY OF LANG
df_one_lang_male = the_func(df[['State','Age-group','one_r_m']])
df_one_lang_female = the_func(df[['State','Age-group','one_r_f']])

df_one_lang_male.reset_index(inplace=True,drop=True)
df_one_lang_female.reset_index(inplace=True,drop=True)


df_one_lang = df_one_lang_male.copy()
df_one_lang[['Age-group-female','one_r_f']] = df_one_lang_female[['Age-group','one_r_f']]

In [37]:
df_two_lang_male = the_func(df[['State','Age-group','tw_r_m']])
df_two_lang_female = the_func(df[['State','Age-group','tw_r_f']])

df_two_lang_male.reset_index(inplace=True,drop=True)
df_two_lang_female.reset_index(inplace=True,drop=True)

df_two_lang = df_two_lang_male.copy()
df_two_lang[['Age-group-female','tw_r_f']] = df_two_lang_female[['Age-group','tw_r_f']]

In [38]:
df_three_lang_male = the_func(df[['State','Age-group','th_r_m']])
df_three_lang_female = the_func(df[['State','Age-group','th_r_f']])

df_three_lang_male.reset_index(inplace=True,drop=True)
df_three_lang_female.reset_index(inplace=True,drop=True)

df_three_lang = df_three_lang_male.copy()
df_three_lang[['Age-group-female','th_r_f']] = df_three_lang_female[['Age-group','th_r_f']]

In [39]:
#there will be an issue with old version of MSword which displays '5-9' as '5-Sept' and '10-14' as 'OCT-14'
# so we add '\t' which will work fine now

df_one_lang= df_one_lang.replace({'05-09':'5-9'+'\t','10-14':'10-14'+'\t'})
df_two_lang = df_two_lang.replace({'05-09':'5-9'+'\t','10-14':'10-14'+'\t'})
df_three_lang = df_three_lang.replace({'05-09':'5-9'+'\t','10-14':'10-14'+'\t'})

In [40]:
df_one_lang.columns

Index(['State', 'Age-group', 'one_r_m', 'Age-group-female', 'one_r_f'], dtype='object')

In [41]:
#SORTING ON STATEID
df_one_lang.sort_values(['State'],inplace=True)
df_two_lang.sort_values(['State'],inplace=True)
df_three_lang.sort_values(['State'],inplace=True)

In [42]:
#CHANGING COLUMN NAMES
df_one_lang.rename(columns={'State':'state/ut','Age-group':'age-group-males','one_r_m':'ratio-males','Edu-level-female':'age-group-females','one_r_f':'ratio-females'}, inplace=True)
df_two_lang.rename(columns={'State':'state/ut','Age-group':'age-group-males','tw_r_m':'ratio-males','Edu-level-female':'age-group-females','tw_r_f':'ratio-females'}, inplace=True)
df_three_lang.rename(columns={'State':'state/ut','Age-group':'age-group-males','th_r_m':'ratio-males','Edu-level-female':'age-group-females','th_r_f':'ratio-females'}, inplace=True)

In [43]:
#WRTITNG TO CSVS

df_one_lang.to_csv('age-gender-c.csv',index=False)
df_two_lang.to_csv('age-gender-b.csv',index=False)
df_three_lang.to_csv('age-gender-a.csv',index=False)